@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
    overflow-x: hidden;
    max-width: 1440px;
    margin: auto;
}

/* -----------navbar section----------- */

.nav {
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.nav>.nav-header {
    display: inline;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav>.nav-header>.nav-title>.first-title {
    display: inline-block;
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 10px 0px 10px 10px;
}

.nav>.nav-header>.nav-title>.second-title {
    display: inline-block;
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 10px 10px 10px 0px;
}

.nav>.nav-header>.nav-title>.logo {
    display: inline-block;
    width: 48px;
    height: 56.008px;
    padding: 10px 10px 10px 0px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #424247;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {


    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #ffffff;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #000;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ffffff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* -----------header section----------- */

.header-section {
    max-width: 1170px;
    margin: auto;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.header {
    margin-top: 10px;
}

.hero-header {
    position: relative;
    padding: 5em 0 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 650px;
    z-index: 1;
}

.image-cover {
    position: relative;
    background-position: center !important;
    overflow: hidden;
}

.hero-main-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.hero-sub-title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 676px;
}

.image-cover:before {
    content: "";
    position: absolute;
    top: 74px;
    left: 363px;
    width: 1194px;
    height: 77%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: -1;
}

.bg-white {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.hero-transparent-area {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.custom-input {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: #FFF;
    padding: 10px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.find-button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media only screen and (max-width: 768px) {
    .header-section {
        width: 500px;
        margin: auto;
    }

    .hero-header {
        min-height: auto;
        padding: 2em;
    }

    .hero-main-title {
        font-size: 36px;
    }

    .hero-sub-title {
        font-size: 14px;
        width: 100%;
    }

    .image-cover:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .image-cover {
        width: 95%;
        height: auto;

    }

    .hero-transparent-area {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
    }

    .custom-input,
    .find-button {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* -----------popular tour section----------- */


.popular-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
    margin: auto;
    margin-top: 10%;
    /* height: 100vh; */
}

.popular-tour {
    display: flex;
    align-items: center;
}

.popular-tour-content {
    flex: 1;
}

.popular-tour-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tour-paragraph,
.popular-tour-paragraph-point {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.popular-tour-image {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(./Resources/Images/mountain.png), lightgray 50% / cover no-repeat;
}

.space-between {
    width: 40px;
}

.read-more-button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media only screen and (max-width: 768px) {
    .popular-tour {
        flex-direction: column;
    }

    .popular-tour-title {
        margin-left: 37px;
        font-size: 21px;
    }

    .popular-tour-paragraph {
        padding: 5px 41px;
    }

    .popular-tour-paragraph-point {
        padding: 5px 86px;
    }

    .popular-section {
        width: 100%;
        /* Adjusted width for the popular section */
    }

    .popular-tour-content {
        max-width: 100%;
        /* Make content take full width on small screens */
    }

    .popular-tour-content>ul>li {
        width: 100%;
    }

    .read-more-button {
        margin-left: 47px;
        margin-bottom: 40px;
    }
}